{% extends 'layouts/banner.html' %}
{% load crispy_forms_filters bootstrap_pagination i18n %}
{% block banner_content %}
    {% include 'widgets/post.html' with post=post %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">{% translate "Izoh qoldirish" %}</button>
    </form>

    {% for row in object_list %}
        <div class="d-flex mt-3 pb-3 border-bottom">
            <div class="user-avatar cover rounded-circle" style="background-image: url('{{ row.user.avatar }}')"></div>
            <div class="flex-grow-1 ms-2">
                <div class="float-end text-muted">{{ row.added_at }}</div>
                <strong>{{ row.user.username }}</strong>
                <div class="mt-2">
                    {{ row.comment|linebreaksbr }}
                </div>
                {% if row.image %}
                    <img src="{{ row.image.url }}" alt="" class="w-50">
                {% endif %}                
            </div>
        </div>
    {% endfor %}

    <div class="mt-3">
        {% bootstrap_paginate page_obj %}
    </div>
    
{% endblock %}